*{
	margin: 0;
	padding: 0;
}
html,body {
			  height: 100%;

			}

.header-top{
	height: 300px;
	background:url(../image/bg2.jpg)  center;


}

			.bar {
			  position: absolute;
			  width: 100%;
			  text-align: center;
			  top:225px;
}
.bar li{
			  display: inline-block;
			  width: 170px;
			  height: 20px;
			  margin-right: 60px;
			}
			.bar li:nth-of-type(2){
				margin-right: 260px;
			}
.bar a {
			  display: inline-block;
			  width: 130px;
			  padding-top: 40px;
			  padding-bottom: 5px;
			  position: relative;
			  cursor: pointer;
			  border: 2px solid #fff;
			  border-radius: 15px;
			  vertical-align: top;
			  color: #fff;
			  text-decoration: none;
			  font-size: 18px;
			  font-family:cursive;
			  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8),-2px -2px 1px rgba(0, 0, 0, 0.3),-3px -3px 1px rgba(0, 0, 0, 0.3);
			}
.bar li:nth-of-type(1) a {
			  background-color: #02646e;
			}
.bar li:nth-of-type(2) a {
			  background-color: #eb0837;
			}
			.bar li:nth-of-type(3) a {
			  background-color: #67b374;
			}

			.bar li:nth-of-type(4) a {
			  background-color: #e61061;
			}




			.bar a::after {
			  content:"";
			  display: block;
			  height: 64px;
			  width: 64px;
			  border: 5px solid #fff;
			  border-radius: 50%;
			  position: absolute;
			  left: 50%;
			  margin-left: -38px;
			  z-index: 9999;
			  top: -40px;
			}
			.bar li:nth-of-type(1) a::after {
			  background: url(../image/girl64.png) no-repeat center;
			}
			.bar li:nth-of-type(2) a::after {
			  background: url(../image/book64.png) no-repeat center;
			}
			.bar li:nth-of-type(3) a::after {
			  background: url(../image/light64.png) no-repeat center;
			}
			.bar li:nth-of-type(4) a::after {
			  background: url(../image/mail64.png) no-repeat center;
			}
			.bar a::before {
			  content:"";
			  display: block;
			  height: 64px;
			  width: 64px;
			  border: 5px solid #fff;
			  border-radius: 50%;
			  position: absolute;
			  left: 50%;
			  margin-left: -38px;
			  z-index: 99999;
			  top: -40px;
			  background: rgba(0,0,0,0.3);
			}
			.bar a:hover::before {
			  opacity:0;
			}
/* Resume 部分*/
.resume{
	background: #FFDCF3;
	height: 500px;
	padding-top: 2.5%;
	padding-bottom: 5%;
}
.infor-left{
	float: left;
	width: 30%;
	margin-left: 10%;
	height: 45%;
	background: url("../image/resume.jpeg") center no-repeat;
	background-size: 100% 100%;
}
.infor-right{
	float: right;
	width: 30%;
	height: 45%;
	margin-right: 10%;
	background: url("../image/resume.jpeg") center no-repeat;
	background-size: 100% 100%;
}
#photo{
	width: 20%;
	clear: both;
	border: #FF9A77 solid 3px;
	height: 35%;
	background: url("../image/myphoto.jpg") center no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
	position: absolute;
	margin: 80px 39.8%;
	z-index: 2;
}
.resume-title{
	text-align: center;
	margin-top: 20px;
}
.resume-list{
	list-style-type: none;
	padding-left: 20px;
	line-height: 35px;
}
/*Blog 部分*/
.subtitle{
	text-align: center;
	font-size: 30px;
	padding:40px;
}
.blog-preview{
	height: 500px;
	background-color: rgba(241,190,250,0.55);

}
.blog{
	float: left;
	height: 350px;
	width: 20%;
    color: darkviolet;

}
#blog1{
	margin-left: 10%;
	background-color:rgba(241,190,250,1);// }
	#blog2{
	background-color:rgba(241,190,250,0.8); }
	#blog3{
	background-color:rgba(241,190,250,0.6); }
	#blog4{
	background-color:rgba(241,190,250,0.5); }

